
@{
    ViewBag.Title = "ResumoComprar";
}

<div class="Img_logo">
    <img class="img-logos" src="~/Imagens/Logo.png" />
</div>

<div class="Img_fundo">
    <img class="img-plantas" src="~/Imagens/Plantas.jpg" />
</div>


<div class="row">
    <div class="card green">
        <form name="frmpagamento" action="Pagamento" method="post">

            <div class="nm-idicacao"><label>Resumo da sua compra</label></div>
            <br>

            <div>
                <b class="cmc-bold-green">Data do Ingresso: </b> @*<textarea id="Teste" name="Teste" disabled>*@@ViewBag.Data@*</textarea>*@
            </div>
            <br />
            <div>
                <b class="cmc-bold-green">@ViewBag.QtdInteiraFormat Inteira </b>  @ViewBag.FormatInteira
            </div>
            <br />
            <div>
                <b class="cmc-bold-green">@ViewBag.QtdMeiaFormat Meia </b>  @ViewBag.FormatMeia
            </div>
            <br />
            <div>
                <b class="cmc-bold-green">Total: </b> @ViewBag.FormatTotal
            </div>
            <br />
            <div>
                <input type="hidden" name="data" value="@ViewBag.Data" />
                <input type="hidden" name="QtdInteira" value="@ViewBag.QtdInteiraFormat" />
                <input type="hidden" name="FormatInteira" value="@ViewBag.FormatInteira" />
                <input type="hidden" name="QtdMeia" value="@ViewBag.QtdMeiaFormat" />
                <input type="hidden" name="FormatMeia" value="@ViewBag.FormatMeia" />
                <input type="hidden" name="FormatTotal" value="@ViewBag.FormatTotal" />
                <center><input id="pagamento" class="btn btn-outline-success" type="submit" value="Ir para o pagamento" /></center>
            </div>

        </form>

    </div>
</div>

@*parte do estilo*@


<style type="text/css">
    body {
        font-family: "Poppins", sans-serif;
        background-color: #fafafa;
    }

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -550px;
    }

    .card {
        border-radius: 5px;
        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
        padding: 30px;
        margin: 20px;
        width: 460px;
        transition: all 0.3s ease-out;
    }

        .card:hover {
            transform: translateY(-5px);
            cursor: pointer;
        }

        .card td {
            color: #a3a5ae;
            font-size: 17px;
        }

    .green {
        border-left: 3px solid #008a50;
    }

    .btn-outline-success {
        height: 45px;
        width: 200px;
        border-radius: 5px;
        margin-top: 25px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: normal;
    }

    .cmc-bold-green {
        color: #008a50;
    }

    /*imagem-fundo-logo*/
    .img-plantas {
        width: 1365px;
        height: 680px;
        margin-top: -100px;
        margin-left: -128px;
    }

    .img-logos {
        width: 80px;
        height: 50px;
        position: absolute;
        margin-top: -70px;
        margin-left: -115px;
    }

    /*titulo*/

    .nm-idicacao {
        color: black;
        font-size: 27px;
    }
</style>