@model IEnumerable<Zoologico.Areas.Gerenciamento.Models.Prontuario>
@Html.Partial("_MenuProntuario")
@{
    ViewData["Title"] = "Prontuário";
}
<div class="row row-cols-1 row-cols-md-3 g-3">
    @foreach (var item in Model)
    {
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-success">@Html.DisplayFor(modelItem => item.NomeAnimal)</h2>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.NomeEspecie):</b> @Html.DisplayFor(modelItem => item.NomeEspecie)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.Peso): </b>@Html.DisplayFor(modelItem => item.Peso)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.Sexo): </b>@Html.DisplayFor(modelItem => item.Sexo)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.DataNasc): </b>@Html.DisplayFor(modelItem => item.DataNasc)</p>
                    <p class="card-text"><b>@Html.DisplayNameFor(model => model.ObsProntuario): </b>@Html.DisplayFor(modelItem => item.ObsProntuario)</p>
                    <a href="#" class="card-link"> @Html.ActionLink("Histórico", "Details", new { id=item.IdProntuario}, new { @class = "btn btn-outline-success" }) </a>
                    <a href="#" class="card-link"> @Html.ActionLink("Nova Consulta", "Insert", new { id=item.IdProntuario}, new { @class = "btn btn-success" })</a>
                </div>
            </div>
        </div>
    }
</div>


